<div class='content-wrapper'>
    <div class='content'>
        <section class='intro'>
            <div class='intro-separator'></div>
            <article>
                Hi I'm Ante and I'm a software engineer.
            </article>
        </section>
        <section class='about'>
            <article>
                <div class='profile-image'></div>
                I'm a 23 year old student from Zagreb, Croatia. Currently I'm on my final year planning to graduate in September.
                <br/>
                <br/>
                <hr>
                <br/>
                I'm not a designer, but mainly a programmer. I have just enough design capabilities to work with frontend.
                <br/>
                <br/>
                <hr>
                <br/>
                But I do know a few CSS tricks :)
            </article>
        </section>
        <section class='separator-image'></section>
        <section class='experience'>
            <article>
                I've worked actively for the past 4 years in IT, programming everything from socket-based chat applications, websites and web applications, desktop and mobile apps to design for those apps.
                <br/>
                <br/>
                <hr>
                <br/>
                Right now I work as a trainee, working with Angular 2 and Groovy, for Zagrebacka Bank (ZABA), a member of UniCredit Group.
                <br/>
                <br/>
                <div class='zaba-logo'></div>
            </article>
        </section>
        <section class='separator-image-2'></section>
        <section class='contact'>
            <article>
                <div class='first'>Contact me on social networks</div>
                <a href="https://www.facebook.com/ante.adamovic93" target="_blank">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </a>
                <a href="https://www.linkedin.com/in/ante-adamovic-72933960/" target="_blank">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
                <a href="https://plus.google.com/u/0/108547614026802998434" target="_blank">
                    <i class="fa fa-google-plus-square" aria-hidden="true"></i>
                </a>
                <div class='second'>or via email: ante.adamovic93@gmail.com </div>
            </article>
        </section>
    </div>
</div>
