<div class='content-wrapper'>
    <div class='content'>
        <section class='intro'>
            <div class='intro-separator'></div>
            <article>
                Hello. I'm Rebeka and I'm a digital marketing student.
            </article>
        </section>
        <section class='about'>
            <article>
                <div class='profile-image'></div>
                At the moment, I study digital marketing on Algrebra University College, but I would like to be a front end developer or digital marketing specialist one day.
            </article>
        </section>
        <section class='separator-image'></section>
        <section class='experience'>
            <article>
                Last year, I worked in  a digital agency as a digital marketing intern. Now I do SEO and graphic design in Wow Junkie.
            </article>
        </section>
        <section class='contact'>

            <section class='separator-image-2'></section>
            <article>
                <div class='first'>Contact:</div>
                <a href="https://www.linkedin.com/in/gcrebeka/" target="_blank">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
                <div class='second'>Email: gc.rebeka@gmail.com </div>
            </article>
        </section>
    </div>
</div>
